@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --white: #fff;
    --black: #000;
    --theme-bg-color: #c6cde0;
    --theme-text-color: #ffffffaf;
    --theme-border-color: #ffffff33;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    letter-spacing: .3px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: min(100% - 20px, 1170px);
    margin-inline: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    background-color: rgb(15, 15, 15);
    padding: 12px 0;
    position: relative;
}

header nav {
    padding: 0 15px;
}

header .logo img {
    max-width: 100%;
    width: 90px;
}

header nav li {
    display: inline-block;
    margin-left: 40px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav a {
    display: inline-block;
    font-size: .95em;
    padding: 10px 0;
    color: var(--theme-text-color);
    text-transform: capitalize;
    transition: all .5s ease;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.iconuser {
    width: 26px;
    height: 26px;
    margin-left: 20px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#users2 {
    margin-left: 20px;
    font-size: 0.8em;
    letter-spacing: .7px;
}

#users {
    margin-left: 25px;
    font-size: 0.8em;
    letter-spacing: .7px;
}

#users:hover,
#users2:hover {
    transition: .3s;
    color: rgb(220, 217, 177);
}

header nav a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transition: all 0.5s ease;
}

header nav li .active::before,
header nav li:hover a::before {
    width: 100%;
}

header nav li .active,
header nav li:hover a {
    color: var(--white);
}

header #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: var(--white);
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--black);
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    left: 0;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}

@media (max-width:767px) {
    .nav-toggler {
        display: flex;
    }

    header nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--black);
        border-top: 1px solid var(--theme-border-color);
        opacity: 1;
        visibility: hidden;
    }

    header nav li {
        display: block;
        margin: 0;
    }

    header #nav-check:checked~nav {
        opacity: 1;
        visibility: visible;
    }

    header #nav-check:checked~.nav-toggler span {
        background-color: transparent;
    }

    header #nav-check:checked~.nav-toggler span::before {
        top: 0;
        transform: rotate(90deg);
    }

    header #nav-check:checked~.nav-toggler span::after {
        top: 0;
        transform: rotate((-45deg));
    }
}